<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NostraNutri oferece refeições coletivas com sabor e cuidado para empresas. Solicite um orçamento online e saiba mais sobre nossos serviços.">
    <title>NostraNutri Refeições Coletivas</title>
    <link rel="stylesheet" href="/materialize/css/homestyle.css"> <!-- Atualizado para usar homestyle.css -->
    <link rel="stylesheet" href="style/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/materialize/js/homestyle.js">
    <link rel="icon" href="materialize\imagens/7.png" type="image/png">

</head>

    

        <body>
            <!-- Navegação -->
            <nav>
                <div class="NostraLogo">
                    <img src="materialize\imagens/logo-nostranutri-04.png" alt="Logo" class="logo">
                </div>
                <ul>
                    <li><a href="#logo-container">Início</a></li>
                    <li><a href="#about-us">Quem Somos</a></li>
                    <li><a href="#services">Nossos Serviços</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="/trabalheconosco">Trabalhe Conosco</a></li>
                </ul>
            </nav>


            <!-- Conteúdo Principal -->
            <main id="conteint" class="fade-in">
                <section id="home">

                    <div id="texthome">
                        <h1 class="title"><span class="text-nostra">NostraNutri</span><br>Refeições coletivas com sabor e
                            afeto para o seu ambiente de trabalho.</h1>
                        <p class="description">A qualidade que sua empresa merece, com o cuidado que seus colaboradores
                            precisam.</p>

                        <div id="texthome_btn">
                            <a href="#contato" class="btn-default" target="_blank">
                                Solicitar Orçamento
                            </a>
                            <a href="https://wa.me/5585982195119?text=Olá,%20gostaria%20de%20solicitar%20um%20orçamento." id="phone_btn" class="btn-default">
                                <i class="fa-solid fa-phone"></i> (85) 98219-5119
                            </a>
                        </div>

                        <div class="social_media_btn">
                            <a href="https://www.instagram.com/nostranutri/" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <div id="banner">
                        <img src="materialize\imagens/nostranutri-bannersite-01.jpg" alt="NostraNutri Logo">
                    </div>
                </section>
            </main>

            <!-- Seção "Quem Somos" -->
            <section id="about-us" >
                <div class="logos">
                    <div class="logo">
                        <img src="materialize\imagens\Manjeri.png" alt="Logo 1">
                    </div>
                    <div class="logo">
                        <img src="materialize\imagens\ManjeriDown.png" alt="Logo 1">
                    </div>
                    <div class="logo">
                        <img src="materialize\imagens\Manjeri.png" alt="Logo 1">
                    </div>
                    <div class="logo">
                        <img src="materialize\imagens\ManjeriDown.png" alt="Logo 1">
                    </div>
                </div>

            

                <div class="about-container">
                    <p class="paragrafo">
                        <span class="quem-somos">Quem Somos</span><br>
                        <img src="materialize\imagens\7.png" alt="Ícone Nutri" class="icon">
                        Somos a empresa de refeições coletivas que oferece uma experiência única de alimentação, que combina
                        qualidade nutricional, afeto e integração, atendendo às principais necessidades da sua equipe. Nossa
                        filosofia é que uma boa alimentação melhora o desempenho e a satisfação dos colaboradores.
                    </p>

                    <div class="mission-vision-values">
                        <div class="mission">
                            <h3><i class="fa fa-bullseye"></i> Missão</h3>
                            <p>Proporcionar refeições coletivas de alta qualidade que <br> combinam afeto, integração e
                                excelência nutricional, <br> garantindo uma alimentação saudável e prazerosa para <br>
                                colaboradores
                                de empresas de grande porte.</p>
                        </div>
                        <div class="vision">
                            <h3><i class="fa fa-eye"></i> Visão</h3>
                            <p>Ser referência em refeições coletivas que unem qualidade,<br> afeto e integração no ambiente
                                de
                                trabalho, contribuir para <br> o bem-estar e produtividade dos colaboradores, mantendo <br>
                                a
                                qualidade e profissionalismo, mesmo depois de atingir <br> porte de indústria.</p>
                        </div>
                        <div class="values">
                            <h3><i class="fa fa-handshake"></i> Valores</h3>
                            <p>Afeto, Integração, Qualidade, Sabor, Conforto,<br> Profissionalismo,
                                Comprometimento </p>
                        </div>
                    </div>
                </div>
            </section>


            <!--Nossos Serviços?-->
            <section id="services">
                <!-- Logos como background para o lado direito -->


                <!-- Continue para todas as outras imagens -->
                </div>
                </div>

                <div class="services-container">
                    <p class="Service-p">
                        <span class="bold-title">Nossos Serviços</span> <br>
                        <img src="materialize\imagens\7.png" alt="Ícone Nutri" class="icon">
                        Oferecemos soluções completas e personalizadas em refeições coletivas, focadas em garantir saúde,
                        sabor e bem-estar no ambiente de trabalho. Atendemos empresas de diferentes portes, sempre pensando
                        na satisfação e produtividade de seus colaboradores.
                    </p>

                    <div class="service-options">
                        <div class="service-item">
                            <h3>Marmitas</h3>
                            <img src="materialize\imagens\21@3x.png" alt="Ícone Nutri" class="icon">
                            <img src="materialize\imagens/marmita.png" alt="Imagem de Marmita" class="service-image">
                            <p class="service-paragrafo">Nossas marmitas são pensadas para trazer o melhor da alimentação
                                saudável e saborosa diretamente para seus colaboradores, garantindo praticidade sem abrir
                                mão da qualidade..</p>
                        </div>
                        <div class="service-item">
                            <h3>Self-Service</h3>
                            <img src="materialize\imagens\19@3x.png" alt="Ícone Nutri" class="icon">
                            <img src="materialize\imagens/self.jpeg" alt="Imagem de Balcão Self-Service"
                                class="service-image">
                            <p class="service-paragrafo">Levamos até sua empresa um balcão de self-service completo, que os
                                colaboradores podem montar suas refeições de acordo com suas preferências. Garantimos uma
                                alimentação equilibrada e personalizada, repleta de muito sabor!</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="photo-gallery">
                <h2>Galeria de Refeições</h2>
                <div class="expanding-cards">
                    <div class="expanding-card" style="background-image: url('materialize/imagens/feijão.jpg');"></div>
                    <div class="expanding-card" style="background-image: url('materialize/imagens/carne.jpg');"></div>
                    <div class="expanding-card" style="background-image: url('materialize/imagens/baiao.jpg');"></div>
                    <div class="expanding-card" style="background-image: url('materialize/imagens/graos.jpg');"></div>
                    <div class="expanding-card" style="background-image: url('materialize/imagens/salada1.jpg');"></div>
                    <div class="expanding-card" style="background-image: url('materialize/imagens/frutas1.jpg');"></div>
                    <div class="expanding-card" style="background-image: url('materialize/imagens/graos.jpg');"></div>
                    
                </div>
            </section>
            
            
            


            <!--Contato-->

            <section class="Contato" id="contato">
                <h2 class="section-title">Contato</h2>
                <div class="contact-container">
                    <!-- Informações de Contato -->
                    <div class="contact-info">
                        <p><i class="fas fa-map-marker-alt"></i> Av. Washington Soares, 1321 - Edson Queiroz, Fortaleza - CE</p>
                        <p><i class="fas fa-phone"></i> (XX) XXXX-XXXX</p>
                        <p><i class="fas fa-envelope"></i> nostranutri@gmail.com</p>
                    
                        <!-- Mapa -->
                        <div class="map-container">
                            <iframe 
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.2794949570507!2d-38.47995617515794!3d-3.7701623361690952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c749905535dcd1%3A0x6ad9630b9c12d203!2sSelf%20service%20Nostra%20Gula!5e1!3m2!1spt-BR!2sbr!4v1736609998837!5m2!1spt-BR!2sbr" 
                                width="100%" 
                                height="300" 
                                style="border:0;" 
                                allowfullscreen="" 
                                loading="lazy" 
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                    
                    <!-- Formulário de Contato -->
                    <div class="contact-form">
                        <form action="#" method="post">
                            <label for="name">Nome:</label>
                            <input type="text" id="name" name="name" required placeholder="Nome">
                            
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required placeholder="Email">
                            
                            <label for="type">Tipo de Contato:</label>
                            <select id="type" name="type" required onchange="toggleFields()">
                                <option value="orcamento">Orçamento</option>
                                <option value="work">Trabalhe Conosco</option>
                                <option value="outros">Outros</option>
                            </select>
                            
                            <!-- Campos adicionais -->
                            <div id="work-fields" style="display: none;">
                                <label for="phone">Telefone:</label>
                                <input type="tel" id="phone" name="phone" placeholder="Seu Telefone" required>
                                
                                <label for="age">Idade:</label>
                                <input type="number" id="age" name="age" required min="18" placeholder="Sua idade">
                                
                                <label for="cpf">CPF:</label>
                                <input type="text" id="cpf" name="cpf" required placeholder="Seu CPF">
                                
                                <label for="experience">Tem experiência com restaurantes ou atendimento ao cliente?</label>
                                <select id="experience" name="experience" required placeholder="Selecione">
                                    <option value="sim">Sim</option>
                                    <option value="nao">Não</option>
                                </select>

                                <label for="cv">Currículo</label>
                                <input type="file" id="cv" name="cv" required>
                            </div>
                            
                            <!-- Mensagem para outros tipos de contato -->
                            <div id="message-field">
                                <label for="message">Mensagem:</label>
                                <textarea id="message" name="message" rows="5" required></textarea>
                            </div>
                            
                            <button type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </section>

            <section class="instagram-feed" >
                <h2 class="section-title">Últimas Postagens no Instagram</h2>
                <section id="instagram-posts">
                    <!-- Postagem 1 -->
                    <blockquote class="instagram-media" data-instgrm-captioned
                        data-instgrm-permalink="https://www.instagram.com/p/DEnVGk3RoZx/" data-instgrm-version="14"
                        style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px rgba(0,0,0,0.5), 0 1px 10px rgba(0,0,0,0.15); margin: 0 5px 15px 5px; max-width:200px;">
                    </blockquote>

                    <!-- Postagem 2 -->
                    <blockquote class="instagram-media" data-instgrm-captioned
                        data-instgrm-permalink="https://www.instagram.com/p/DBR0rwHzMn2/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
                        data-instgrm-version="14"
                        style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px rgba(0,0,0,0.5), 0 1px 10px rgba(0,0,0,0.15); margin: 0 5px 15px 5px; max-width:200px;">
                    </blockquote>

                    <!-- Postagem 3 -->
                    <blockquote class="instagram-media" data-instgrm-captioned
                        data-instgrm-permalink="https://www.instagram.com/p/DECt9FoCF8x/?img_index=1"
                        data-instgrm-version="14"
                        style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px rgba(0,0,0,0.5), 0 1px 10px rgba(0,0,0,0.15); margin: 0 5px 15px 5px; max-width:200px;">
                    </blockquote>

                    <!-- Postagem 4 -->
                    <blockquote class="instagram-media" data-instgrm-captioned
                        data-instgrm-permalink="https://www.instagram.com/p/DBZp9knS30D/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
                        data-instgrm-version="14"
                        style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px rgba(0,0,0,0.5), 0 1px 10px rgba(0,0,0,0.15); margin: 0 5px 15px 5px; max-width:200px;">
                    </blockquote>

                    <!-- Script de incorporação -->
                    <script async src="//www.instagram.com/embed.js"></script>
                </section>
            </section>



            <!-- Footer -->
            <footer id="footer">
                <div class="footer-container">
                    <div class="partners">
                        <h3>Nossos Parceiros</h3>
                        <div class="partners-logos">
                            <a href="https://www.unifor.br" target="_blank">
                                <img src="materialize\imagens/Unifor.png" alt="Logo da UNIFOR" title="Visitar site da UNIFOR">
                            </a>
                            <a href="https://sianengenharia.com.br/" target="_blank">
                                <img src="materialize\imagens/Nova_logo_Sian.png" alt="Logo do SIAN" title="Visitar site do SIAN">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>&copy; 2025 NostraNutri. Todos os direitos reservados.</p>
                    <p>
                        &copy; 2025
                        <span style="cursor: pointer; color: inherit;" onclick="abrirWhatsApp()">
                        XaropeGroup
                        </span>. 
                        Todos os direitos reservados a 
                        &copy;
                        <span style="cursor: pointer; color: inherit;" onclick="abrirWhatsApp()">
                        AJLL Tech Solutions
                        </span>.
                    </p>
                    <p>
                        Faça seu orçamento clicando nos textos acima!
                    </p>

                    
                </div>
            </footer>

            <script src="/materialize/js/homestyle.js"></script>

            <script>
                document.addEventListener('scroll', function () {
                    var elements = document.querySelectorAll('.service-item');
                    var screenHeight = window.innerHeight;

                    elements.forEach(function (element) {
                        var position = element.getBoundingClientRect().top;

                        if (position < screenHeight) {
                            element.classList.add('in-view');
                        }
                    });
                });


                function abrirWhatsApp() {
                    const numero = "5585991541634";
                    const mensagem = "Quero fazer um orçamento para meu site";
                    const url = `https://wa.me/${numero}?text=${encodeURIComponent(mensagem)}`;
                    window.open(url, "_blank");
                }

                function toggleFields() {
                    const type = document.getElementById('type').value;
                    const workFields = document.getElementById('work-fields');
                    const messageField = document.getElementById('message-field');
                    
                    // Exibir ou ocultar os campos "Telefone", "Currículo", "Idade", "CPF", "Experiência" dependendo da escolha
                    if (type === 'work') {
                        workFields.style.display = 'block';
                        messageField.style.display = 'none'; // Oculta a mensagem quando "Trabalhe Conosco" é selecionado
                    } else {
                        workFields.style.display = 'none';
                        messageField.style.display = 'block'; // Exibe a mensagem novamente para outros tipos de contato
                    }
                }

                
            
    
            </script>


        </body>
    

    

</html>